::-webkit-scrollbar{
    background-color: aqua;
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: lightgray
}

::-webkit-scrollbar-thumb{
    background-color: #88ced0;
    border-radius: 20px
}
